@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111319;
}

::-webkit-scrollbar-thumb {
  background: #282d3c;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b4254;
}